.App {
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
}
h1 {
  margin-left: 40px;
}
.App_block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.App_elem {
  border: 1px solid #000;
  width: 200px;
}

.sort__label {
  cursor: pointer;
}
.sort__popup li {
  cursor: pointer;
  padding: 10px;
}
.paginator ul {
  display: flex;
  gap: 10px;
}
.content_top {
  display: flex;
  justify-content: space-between;
}
